/.vs/MyCoolNewMod/v16
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/.signature.p7s
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/Pathoschild.Stardew.ModBuildConfig.3.3.0.nupkg
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/analyzers/dotnet/cs/SMAPI.ModBuildConfig.Analyzer.dll
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/build/Newtonsoft.Json.dll
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/build/Pathoschild.Stardew.ModBuildConfig.targets
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/build/SMAPI.ModBuildConfig.dll
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/build/SMAPI.Toolkit.CoreInterfaces.dll
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/build/SMAPI.Toolkit.dll
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/build/find-game-folder.targets
/packages/Pathoschild.Stardew.ModBuildConfig.3.3.0/images/icon.png
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/MyCoolNewMod.csprojAssemblyReference.cache
